/* Header */
.header {
	/* Color */
	background-color: #eeeeee;
}

.top-bar {
	/* Display & Box model */
	display: flex;
	align-items: center;
	padding: 30px 0;
}

.navbar {
	/* Display & Box model */
	margin-left: 144px;
	margin-right: auto;

	&__list {
		/* Display & Box model */
		display: flex;
		align-items: center;
		column-gap: 30px;
	}

	&__link {
		/* Display & Box model */
		display: flex;
		align-items: center;
		column-gap: 6px;
		line-height: 146.667%; /* 146.667% */

		/* Color */
		color: var(--Secondary-Color-Secondary-1, #1a162e);

		/* Text */
		font-size: 15px;
		font-weight: 500;
	}

	&__arrow {
		/* Display & Box model */
		margin-top: 3px;
	}
}

.top-act {
	/* Display & Box model */
	display: flex;
	align-items: center;
	column-gap: 20px;

	&__separate {
		/* Display & Box model */
		width: 1px;
		height: 30px;

		/* Color */
		background: var(--Secondary-Color-Secondary-4, #ededf6);
	}

	&__group {
		/* Display & Box model */
		display: flex;
		align-items: center;
		min-width: 50px;
		min-height: 50px;
		border-radius: 8px;
		box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

		/* Color */
		background: var(--Secondary-Color-Background, #fff);
	}

	&__btn {
		/* Display & Box model */
		display: flex;
		align-items: center;
		column-gap: 10px;
		padding: 13px 20px;
	}

	&__title {
		/* Display & Box model */
		line-height: 146.667%;

		/* Color */
		color: var(--Secondary-Color-Secondary-1, #1a162e);

		/* Text */
		font-family: Gordita;
		font-size: 15px;
		font-weight: 500;
	}

	&__group--single &__btn {
		/* Display & Box model */
		padding: 13px;
	}

	&__avt {
		/* Display & Box model */
		display: block;
		width: 50px;
		height: 50px;
		border-radius: 8px;
		box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
	}
}
