/* Header */
@use "../abstracts";

%flexItemsCenter {
	display: flex;
	align-items: center;
}

.header {
	/* Color */
	background-color: var(--header-bg-color);

	@include abstracts.breakpoint(lg) {
		box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
	}
}

.top-bar {
	@extend %flexItemsCenter; /* Align item center */

	/* Position */
	position: relative;

	/* Display & Box model */
	padding: 30px 0;

	@include abstracts.breakpoint(lg) {
		// justify-content: space-between;
		padding: 16px 0;
	}

	@include abstracts.breakpoint(md) {
		justify-content: space-between;
		padding: 16px 0;
	}

	&__more {
		/* Display & Box model */
		display: none;

		@include abstracts.breakpoint(lg) {
			/* Display & Box model */
			display: block;
		}
	}
}

.navbar {
	/* Display & Box model */
	margin-left: 129px;

	@include abstracts.breakpoint(xl) {
		/* Display & Box model */
		margin-left: 28px;
	}

	@include abstracts.breakpoint(lg) {
		/* Position */
		position: fixed;
		inset: 0 50% 0 0;
		z-index: 9;

		/* Display & Box model */
		padding: 20px 0;
		margin-left: 0;
		background: #fff;

		/* Animation */
		transition: translate 0.5s;
		translate: -100%;

		&.show {
			translate: 0;
		}

		&.show ~ &__overlay {
			visibility: visible;
			opacity: 1;
		}
	}

	&__close-btn {
		/* Display & Box model */
		display: none;

		@include abstracts.breakpoint(lg) {
			/* Display & Box model */
			display: block;
			padding: 10px 40px;
		}
	}

	&__overlay {
		/* Display & Box model */
		visibility: hidden;
		opacity: 0;

		@include abstracts.breakpoint(lg) {
			/* Position */
			position: fixed;
			inset: 0;
			z-index: 8;

			/* Display & Box model */
			background-color: rgba($color: #000000, $alpha: 0.4);

			/* Animation */
			transition: opacity 0.5s, visibility 0.5s;
		}
	}

	&__list {
		@extend %flexItemsCenter;

		@include abstracts.breakpoint(lg) {
			/* Display & Box model */
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__item {
		&:hover .dropdown {
			display: block;
		}

		@include abstracts.breakpoint(lg) {
			&:hover .dropdown {
				display: none;
			}

			width: 100%;
		}
	}

	&__link {
		@extend %flexItemsCenter; /* Align item center */

		/* Display & Box model */
		height: 50px;
		column-gap: 6px;
		padding: 0 15px;
		line-height: 146.667%;

		/* Text */
		font-size: 15px;
		font-weight: 500;

		@include abstracts.breakpoint(lg) {
			/* Display & Box model */
			justify-content: space-between;
			padding: 0 40px;

			/* Text */
			font-size: 1.6rem;
			line-height: 150%;
		}
	}

	&__arrow {
		/* Display & Box model */
		margin-top: 3px;
	}
}

.top-act {
	@extend %flexItemsCenter; /* Align item center */

	/* Display & Box model */
	margin-left: auto;
	column-gap: 20px;

	@include abstracts.breakpoint(lg) {
		margin-left: auto;
	}

	@include abstracts.breakpoint(md) {
		margin-left: 0;
	}

	&__separate {
		/* Display & Box model */
		width: 1px;
		height: 30px;

		/* Color */
		background: var(--top-act-separate);
	}

	&__group {
		@extend %flexItemsCenter; /* Align item center */

		/* Display & Box model */
		min-width: 50px;
		min-height: 50px;
		border-radius: 8px;
		box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);

		/* Color */
		background: var(--top-act-group-bg-color);

		@include abstracts.breakpoint(md) {
			display: none;
		}
	}

	&__btn {
		@extend %flexItemsCenter; /* Align item center */

		/* Display & Box model */
		column-gap: 10px;
		padding: 13px 20px;
		cursor: pointer;
	}

	&__title {
		/* Display & Box model */
		line-height: 146.667%;

		/* Text */
		font-size: 15px;
		font-weight: 500;
	}

	&__group--single {
		@include abstracts.breakpoint(lg) {
			display: none;
		}
	}

	&__group--single &__btn {
		/* Display & Box model */
		padding: 13px;
	}

	&__avt {
		/* Display & Box model */
		display: block;
		width: 50px;
		height: 50px;
		border-radius: 8px;
		box-shadow: 0px 4px 14px 2px var(--top-act-avt-shadow);
		cursor: pointer;
	}
}
