.logo {
    /* Display & Box model */
    display: flex;
    align-items: center;
    column-gap: 14px;

    &__title {
        /* Display & Box model */
        line-height: 145.455%;

		/* Text */
        font-size: 22px;
        font-weight: 700;
    }
}
